.single-page-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.img-div{
    width: 50%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.img-div img{
    border-radius: 5px;
    width:55%;
    height: 70vh;
    font-family: sans-serif;
}
.information-div{
    width: 45%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
}
.information-div div:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}
.information-div div p{
    padding: 10px;
}
.movie-plot{
    /* background-color: black; */
    font-family: sans-serif;
    /* color: white; */
}
.movie-plot p{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.movie-plot p:hover{
    background-color: white;
    color: black;
}